/* 
---01 Typpgraphy system
-Font Size(px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

font family
google font: 
default: sen serif

-Font Weight
default:400;
heading primary 700

-Line Height
Default : 1
heading primary:1.1

-Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--- 02 Color
#EE9610
#F8980F 
#FB9606 
#251600 
#110A00 
#FAF6F2 
#F6F5F3 
-Primary : 
-Tints 
-Shades 
-Accents
-Grays : 

--- 03 Shadow

--- 04 Border Radius
default: 9px

-Spacing System(px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
